
<div class="modal fade" id="sourcingFormModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="sourcingFormModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-main3">
                <h1 class="modal-title fs-5" id="sourcingFormModalLabel">Sourcing RFQ Form (without BOM)</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-light">
                <div class="" id="sourcingForm">
                    <form method="post" id="RFQForm">
                        <div class="row mb-2">
                            <div class="col-lg-8">
                                <label for="projectName" class="col-form-label fw-bold">Project Name <span class="form-text">(ex. PartNumber - Description)</span> </label>
                                <input type="text" id="projectName" class="form-control" aria-describedby="projectName" autocomplete="off" required>
                            </div>
                            <div class="col-lg-4">
                                <label for="customer" class="col-sm-6 col-form-label fw-bold">Customer</label>
                                <select class="form-select" aria-label="Select Customer" id="customer" required>
                                    <option selected disabled>Select Customer</option>
                                    <option value="CohuMY">Cohu MY</option>
                                    <option value="CohuDE">Cohu DE</option>
                                    <option value="DeltaUS">Delta US</option>
                                    <option value="DeltaPH">Delta PH</option>
                                    <option value="custom">Add Customer</option>
                                </select>
                                <input type="text" id="customInput" class="form-control mt-2 d-none" name="Customer" placeholder="Enter Custom Customer">
                            </div>
                            <div class="col-lg-8">
                                <label for="quotation" class="col-form-label fw-bold">Quotation Code</label>
                                <input type="text" id="quotation" class="form-control" aria-describedby="quotation" required>
                            </div>
                            <div class="col-lg-4">
                                <label for="noItems" class="col-form-label fw-bold">Number of Items</label>
                                <input type="number" id="noItems" class="form-control" aria-describedby="noItems" required>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-lg-4">
                                <label for="reqDate" class="col-form-label fw-bold">Request Date</label>
                                <input type="date" id="reqDate" class="form-control" aria-describedby="reqDate" required>
                            </div>
                            <div class="col-lg-4">
                                <label for="reqCompDate" class="col-form-label fw-bold">Required Completion Date</label>
                                <input type="date" id="reqCompDate" class="form-control" aria-describedby="reqCompDate" required>
                            </div>
                            <div class="col-lg-4">
                                <label for="cusPartNo" class="col-form-label fw-bold">Customer Part Number</label>
                                <input type="number" id="cusPartNo" class="form-control" aria-describedby="cusPartNo" required>
                            </div>
                            <div class="col-lg-2">
                                <label for="rev" class="col-form-label fw-bold">Rev</label>
                                <input type="text" id="rev" class="form-control" aria-describedby="rev" required>
                            </div>
                            <div class="col-lg-10">
                                <label for="description" class="col-form-label fw-bold">Description</label>
                                <div class="col">
                                    <input type="text" id="description" class="form-control" aria-describedby="description" autocomplete="off" required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <label for="origMPNRawMatsFab" class="col-form-label fw-bold">Original MPN/Raw Materials for FAB</label>
                                <div class="col">
                                    <input type="text" id="origMPNRawMatsFab" class="form-control" aria-describedby="origMPNRawMatsFab" autocomplete="off" required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <label for="origMFRRawMatsFab" class="col-form-label fw-bold">Original Manufacturing / Finishing for FAB Parts</label>
                                <div class="col">
                                    <input type="text" id="origMFRRawMatsFab" class="form-control" aria-describedby="origMFRRawMatsFab" autocomplete="off" required>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <label for="commodity" class="col-form-label fw-bold">Commodity</label>
                                <input type="text" id="commodity" class="form-control" aria-describedby="commodity" autocomplete="off" required>
                            </div>
                            <div class="col-lg-4">
                                <label for="qtyPerAssembly" class="col-form-label fw-bold">Qty per Assembly</label>
                                <input type="text" id="qtyPerAssembly" class="form-control" aria-describedby="qtyPerAssembly" autocomplete="off" required>
                            </div>
                            <div class="col-lg-2">
                                <label for="bomUoM" class="col-form-label fw-bold">BOM UOM</label>
                                <input type="text" id="bomUoM" class="form-control" aria-describedby="bomUoM" autocomplete="off" required>
                            </div>
                            <div class="col-lg-4">
                                <label for="commonUniqParts" class="col-form-label fw-bold">Common or Unique Parts</label>
                                <select class="form-select" aria-label="Select Status" id="commonUniqParts" name="commonUniqParts" required>
                                    <option selected disabled value="">Select Status</option>
                                    <option value="COMMON">COMMON</option>
                                    <option value="UNIQUE">UNIQUE</option>
                                </select>
                            </div>
                            <div class="col-lg-2">
                                <label for="stdTAT" class="col-form-label fw-bold">STD TAT</label>
                                <input type="number" id="stdTAT" class="form-control" aria-describedby="stdTAT" autocomplete="off" required>
                            </div>
                        </div>
                        <div class="text-end">
                            <button type="submit" class="btn bg-main3 mt-2"><i class="fa-solid fa-circle-chevron-right"></i> Next</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
