@page
@model ATSSFG.Pages.Dashboard.IncomingModel
@{
    ViewBag.Title = "Incoming";
}

<div class="row">
    <div class="col-sm-4 col-lg-4 mb-2">
        <div class="mb-2">
            <button class="btn btn-success btn-sm" type="button"><i class="fa-solid fa-check"></i> Proceed</button>
            <button class="btn btn-warning btn-sm" type="button"><i class="fa-solid fa-arrow-left"></i> Return</button>
        </div>
        <table class="table table-striped table-bordered table-sm" style="width:100%" id="incomingTbl">
            <thead class="table-primary">
                <tr>
                    <th>Quotation No.</th>
                    <th>Date Requested</th>
                    <th>Part Numbers</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
               @*  @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.QuotationCode</td>
                        <td>@item.RequestDate</td>
                        <td>@item.ProjectName</td>
                        <td>@item.Status</td>
                    </tr>
                } *@
            </tbody>
        </table>
    </div>
    <div class="col-8">
    </div>
</div>
<script>
    $("#incomingTbl").DataTable({
        paging: false,
    });
</script>
