
@{
    ViewData["Title"] = "Open Projects";
}
<div>
    <h4 class="fw-bold">Open Projects</h4>
    <div class="table-responsive p-2">
        <table class="table table-striped" style="width:100%" id="openProjectsTbl">
            <thead class="table-secondary">
                <tr>
                    <th>Project Name</th>
                    <th>Quotation Code</th>
                    <th>Date Requested</th>
                    <th>Required Submission Date</th>
                    <th>No of Items</th>
                    <th>No of Items with price</th>
                    <th>No of Items without price</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<script src="~/javascript/openprojects.js"></script>