@page
@model ATSSFG.Pages.Dashboard.ProjectSummaryReportModel

<div class="card p-2 bg-light">
    <h4 class="fw-bold">Project Summary Report</h4>
    <div class="table-responsive p-2">
        <table class="table table-striped table-hover display nowrap" style="width:100%" id="projectSummaryTbl">
            <thead class="table-secondary">
                <tr>
                    <th>Project Name</th>
                    <th>Quotation Code</th>
                    <th>Date Requested</th>
                    <th>Required Submission Date</th>
                    <th>Actual Completion Date</th>
                    <th>STD TAT</th>
                    <th>TAT</th>
                    <th>No of Items</th>
                    <th>Unique Parts</th>
                    <th>Common Parts</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
@section Scripts {
    <script src="~/JavaScript/ProjectSummaryReport.js"></script>
}
