@page "/"
@model QA_Audit_Fresh.Views.AuditPlans.DashboardRazor
@{
    ViewData["Title"] = "Dashboard";
}

<link href="~/css/homepage.css" rel="stylesheet" />
<link href="~/css/dashboard.css" rel="stylesheet" />

<div class="container-fluid" id="dashboard">
    @* <partial name="Partials/_ReadAuditPlanModal"></partial> *@
    <partial name="Partials/_Visualization"></partial>
</div>

@* @section Scripts { *@
    <script src="~/JS/ReadAuditPlan.js"></script>
    <script src="~/JS/CreateAuditPlan.js"></script>
    <script src="~/JS/CreateConformity.js"></script>
    <script src="~/JS/CreateCPAR.js"></script>
    <script src="~/JS/Sidebar.js"></script>
    <script src="~/JS/Calendar.js"></script>
    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
@* } *@