@page
@model ATSAudit.Views.AuditPlans.DashboardRazor

@{
    ViewData["Title"] = "Dashboard";
}

<div class="container-fluid" id="dashboard">
    <div class="row">

        <div class="col-xl-7">
            <nav>
                <div class="nav nav-tabs " id="dashboardTab" role="tablist">
                    <button class="nav-link active" id="calendarTab" data-bs-toggle="tab" data-bs-target="#calendarTabPane" type="button" role="tab">
                        Audit Plan Calendar
                    </button> 
                    <button class="nav-link" id="statsTab" data-bs-toggle="tab" data-bs-target="#statsTabPane" type="button" role="tab">
                        Statistics
                    </button>
                </div>
            </nav>

            <div class="tab-content" id="dashboardTabContent">
                <div class="tab-pane show active" id="calendarTabPane" role="tabpanel" tabindex="0">
                    <partial name="Partials/_Calendar"></partial>
                </div>  
                <div class="tab-pane" id="statsTabPane" role="tabpanel" tabindex="0">
                    <partial name="Partials/_Stats"></partial>
                </div>
            </div>
        </div>

        <div class="col-xl-5" id="sidepane">
            <partial name="Partials/_CreateAuditPlan"></partial>
            <partial name="Partials/_ReadAuditPlan"></partial>
        </div>

    </div>
</div>

<partial name="Partials/_CreateConformityModal"></partial>
<partial name="Partials/_CreateCPARModal"></partial>
<partial name="Partials/_CreateCorrectionModal"></partial>
<partial name="Partials/_CreateCorrectiveActionModal"></partial>
<partial name="Partials/_CreatePreventiveActionModal"></partial>

<partial name="Partials/_ReadCPARModal"></partial>


@section Scripts {
    <script src="~/JS/Common.js"></script>
    <script src="~/JS/ConformitiesTable.js"></script>
    <script src="~/JS/CPARsTable.js"></script>
    <script src="~/JS/CorrectionsTable.js"></script>
    <script src="~/JS/CorrectiveActionsTable.js"></script>
    <script src="~/JS/PreventiveActionsTable.js"></script>

    <script src="~/JS/ReadAuditPlan.js"></script>
    @* <script src="~/JS/ReadCPAR.js"></script> *@

    <script src="~/JS/CreateAuditPlan.js"></script>
    @* <script src="~/JS/CreateConformity.js"></script> *@

    <script src="~/JS/Sidepane.js"></script>
    <script src="~/JS/Calendar.js"></script>
}