<div class="modal fade" data-bs-backdrop='static' id="viewEvidence" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header bg-primary">
                <h6 class="modal-title text-light">Evidence Attachments</h6>    
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body grid">
                
                <form id="deleteEvidence" method="post">
                    <p class="form-text">
                        <i class="fa-solid fa-file-arrow-up"></i>
                        Uploaded Evidence
                    </p>
                    <div id="viewAttachedFiles"></div>

                    <input type="hidden" name="form" value="test">
                    <input type="hidden" name="subform" value="test">
                    <input type="hidden" name="id" value="test">
                    <input type="hidden" name="filename" value="test">
                </form>


                <form   class="grid row-gap-3" 
                        method="post" 
                        enctype="multipart/form-data"
                        data-ajax="true"
                        data-ajax-url="?handler=UploadEvidence"
                        data-ajax-complete="uploadEvidenceComplete"
                        data-ajax-method="post">


                    <div class="row">
                        <label for="viewEvidenceInput" class="form-text">
                            <i class="fa-solid fa-file-arrow-up"></i>
                            Upload Attachments
                        </label>
                        <input id="viewEvidenceInput" type="file" name="evidence" multiple>

                        <input id="viewEvidenceForForm" type="hidden" name="form" value="test">
                        <input id="viewEvidenceForSubform" type="hidden" name="subform" value="test">
                        <input id="viewEvidenceForId" type="hidden" name="id" value="test">

                        <div id="attachedFiles"></div>
                    </div>

                    <div class="modal-footer row">
                        <button type="submit"
                                id="viewEvidenceSubmit" 
                                data-bs-target="#readCPAR" 
                                data-bs-toggle="modal"
                                class="btn btn-primary">
                            Submit
                        </button>
                    </div>

                </form>

            </div>

        </div>
    </div>
</div>