@page
@model APPTemplate.Pages.MenuModel
@{
    ViewBag.Title = "PIMES Role";
    Layout = "_LayoutFull";
}



<div class="vstack divcontainer divcenter text-white">
    <div class="row divheader">
        <div class="posleft h-100">
            <span class="fs-5 fw-semibold"><i class="bi bi-list"></i> MENU</span>
        </div>
    </div>
    <div class="row divbody pt-2">
        <div class="hstack h-100">
            <div class="col h-100">
                <div class="vstack p-1 h-100">
                    <span class="fs-6 fw-semibold"><i class="bi bi-check-circle-fill"></i> BUSINESS UNIT</span>
                    <div class="col my-2 bg-white h-100">
                        <ul id="ulBU" class="list-group p-1" role="tablist">
                            <li class="list-group-item list-group-item-action" data-toggle="list" role="tab">IT</li>
                            <li class="list-group-item list-group-item-action" data-toggle="list" role="tab">FAC</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col h-100">
                <div class="vstack pt-1 ps-2 pe-1 pb-1 h-100">
                    <span class="fs-6 fw-semibold"><i class="bi bi-people-fill"></i> USER ROLE</span>
                    <div class="col my-2 bg-white h-100">
                        <ul id="ulRole" class="list-group p-1" role="tablist">
                            <li class="list-group-item list-group-item-action" data-toggle="list" role="tab">REQUESTOR</li>
                            <li class="list-group-item list-group-item-action" data-toggle="list" role="tab">APPROVER</li>
                            <li class="list-group-item list-group-item-action" data-toggle="list" role="tab">CONTROLLER</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row divfooter">
        <div class="poscenter h-100">
            <button id="btnNext" class="btn btn-primary text-center"><i class="bi bi-box-arrow-in-right"></i>&nbsp; Next</button>
        </div>
    </div>
</div>



