@* @page
@model ATSAudit.Views.AuditPlan.Index
@{
    ViewData["Title"] = "Index";
} *@

@* <h1>@ViewData["Title"]</h1> *@

<link href="~/css/homepage.css" rel="stylesheet" />
<link href="~/css/dashboard.css" rel="stylesheet" />

<div class="container-fluid" id="dashboard">
    <partial name="Partials/_Modal1"></partial>
    <partial name="Partials/_Visualization"></partial>
    <partial name="Partials/_CreateAuditPlan"></partial>
    <partial name="Partials/_ReadAuditPlan"></partial>
</div>

@section Scripts {
    @* <script src="/JS/ChartLogic.js"</script>
    <script src="./JS/AppendName.js"></script>
    <script src="./JS/TableLogic.js"></script> *@
    <script src="./JS/CalendarLogic.js"></script>
}