.cell {
    display: flex;
    flex-direction: column-reverse;
    /* padding: 5rem; */
}

.auditplan {
    border-radius: 5px;
}

.auditplan.open {
    background-color: green;
}

textarea {
    max-height:80px;
    min-height: 20px;
}


/* #conformitiesTable {
    overflow-y: scroll;
} */

.tableWrapper {
    overflow-y: auto;
    /* height: 50%; */
    /* height: 100%; */
    height: 30vh;
    margin-bottom: 1rem;
}

#createAuditPlan {
    display: none;
}

/* #dashboard {
    background-color: '#9A9A9A';
} */

/* .emptyTable {
    display: none;
} */

.emptyTable {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    /* height: 32vh;
    max-height: 32vh; */
}

#readAuditPlan {
    display: none;
    height: 100%;
}

/* #readAuditPlanTables, 
#readAuditPlanTables > *, 
#readAuditPlanTables > * > *,
#readAuditPlanTables > * > * > .row {
    height: 100%;
} */

#readAuditPlanDetails > * {
    padding-bottom: 0.5rem;
    /* font-size: 0.8rem; */
}

#dashboard {
    height: 100vh;
    /* height: 80vh; */
    max-height: 75vh; 
}

#tableTabContent .table-responsive {
    max-height: 38vh;
    margin-bottom: 1rem;
}

.loading {
    display: none;
    justify-self: center;
}

/* #conformitiesTable {
    height: 100%;
}

#conformitiesTable tbody{
    display: block;
    height: 100%;
    overflow: auto;

}

#conformitiesTable thead, #conformitiesTable tbody > tr {
    display: table;
    width: 100%;
    table-layout: fixed;
} */


/* #auditPlanManagerApproval {
    display: flex;
} */

/* .today {
    border: 2px solid #c41414 !important;
    color: #c41414 !important;
    font-weight: bold;
} */

/* .previousDay {
    background-color: #cacaca;
    color: #6d6d6d
} */

#readAuditPlan table {
    font-size: 0.9rem;
}

/* #readCPAR table th {
    font-size: 0.9rem;
    font-style: normal !important;
} */

.clicked {
    border: 3px solid #0d6efd !important;
}

.header {
    position: sticky;
    top: 0;
}

.conformity-delete > * {
    pointer-events: none;
}

#readCPAR .modal-footer {
    position: sticky;
    bottom: 0;
}

#attachedFiles {
    /* margin-inline: auto; */
    margin-block: 1rem;
    /* padding: 0.5rem; */
    width: 90%;
    
    display: flex;
    flex-direction: column;
}