<div id="auditPlanManagerApproval">
    <div class="d-flex flex-row-reverse">
        <button id="auditPlanManagerApproveAuditPlan" class="btn btn-warning">
            Approve Audit
        </button>
        <button id="auditPlanManagerCloseAuditPlan" class="btn btn-success">
            Close Audit
        </button>
    </div>
</div>