<div id="auditPlanManagerPanel">
    <div class="d-flex flex-row-reverse">
        <div id="auditPlanManagerApproval">
            <button id="auditPlanManagerApproveAuditPlan" class="btn btn-warning">
                Approve Audit
            </button>
            <button id="auditPlanManagerRejectAuditPlan" class="btn btn-warning">
                Approve Audit
            </button>
        </div>
        <button id="auditPlanManagerCloseAuditPlan" class="btn btn-success">
            Close Audit
        </button>
    </div>
</div>