<div class="tableWrapper col-12">
    <table class="table table-bordered table-striped" id="conformitiesTable">
        <thead class="table-primary">
            <tr>
                <th scope="col" hidden>ConformityId</th>
                <th scope="col" hidden>PlanId</th>
                <th class="header" scope="col">Description</td>
                <th class="header" scope="col">Area/Section</td>
                <th class="header" scope="col"></td>
            </tr>
        </thead>
        <tbody id="conformitiesTableBody">
        </tbody>
    </table>
</div>
<partial name="Partials/_EmptyTable"></partial>
