<h6 class="form-text text-center">Corrective Actions</h6>
<div class="tableWrapper col-12">
    <table class="table table-striped" id="CPARsTable">
        <thead>
            <tr>
                @* <th scope="col" hidden>ConformityId</th>
                <th scope="col" hidden>PlanId</th> *@
                <th scope="col">Corrective Action</th>
                <th scope="col">Target Date</th>
                <th scope="col">Responsible Person</th>
            </tr>
        </thead>
        <tbody id="conformitiesTableBody">
            <tr>
                <td>Words</td>
                <td>Words</td>
                <td>Words</td>
            </tr>
            <tr>
                <td>Words</td>
                <td>Words</td>
                <td>Words</td>
            </tr>
            <tr>
                <td>Words</td>
                <td>Words</td>
                <td>Words</td>
            </tr>
            <tr>
                <td>Words</td>
                <td>Words</td>
                <td>Words</td>
            </tr>
            <tr>
                <td>Words</td>
                <td>Words</td>
                <td>Words</td>
            </tr>
            <tr>
                <td>Words</td>
                <td>Words</td>
                <td>Words</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="d-flex">
    <button class="form-control" id="viewerImprovementsTable">
        <i class="fa-solid fa-plus"></i> 
    </button>
</div>

<partial name="Partials/_EmptyTable"></partial>