<div class="tableWrapper col-lg-12">
    <table class="table table-bordered table-striped" id="cparTable">
        <thead class="table-primary overflow-x-scroll">
            <tr>
                <th scope="col" >#</th>
                <th scope="col" >Audit Plan</th>

                <th class="header" scope="col">Respondent</td>
                <th class="header" scope="col">Requestor</td>
                
                <th class="header" scope="col">Issued By</td>
                @* <th class="header" scope="col">ApprovalDate</td> *@
                <th class="header" scope="col">Respond In</td>

                @* <th class="header" scope="col">ProblemStatement</td> *@

                @* <th class="header" scope="col">PreparedBy</td>
                <th class="header" scope="col">CheckedBy</td>
                <th class="header" scope="col">ApprovedBy</td> *@
            </tr>
        </thead>
        <tbody id="conformitiesTableBody">
        </tbody>
    </table>
</div>
<partial name="Partials/_EmptyTable"></partial>
