<div class="tableWrapper col-lg-12">
    <table class="table table-bordered table-striped" id="cparsTable">
        <thead class="table-primary overflow-x-scroll">
            <tr>
                <th scope="col" hidden>#</th>
                <th scope="col" hidden>Audit Plan</th>

                <th class="header" scope="col">Respondent</td>
                <th class="header" scope="col">Requestor</td>
                
                <th class="header" scope="col">Response Due</td>
                @* <th class="header" scope="col">ApprovalDate</td> *@

                <th class="header" scope="col">ProblemStatement</td>

                <th class="header" scope="col">PreparedBy</td>
                @* <th class="header" scope="col">CheckedBy</td> *@
                @* <th class="header" scope="col">ApprovedBy</td> *@
            </tr>
        </thead>
        <tbody id="cparsTableBody">
        </tbody>
    </table>
</div>
<partial name="Partials/_EmptyTable"></partial>
