<div class="modal fade" data-bs-backdrop='static' id="createCPAR" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h6 class="modal-title text-light">Creating Corrective & Preventive Action Report</h6>    
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="CPARForm" class="grid row-gap-3" autocomplete="off">
                    <div class="my-1">
                        <label for="createCPARControlNumber" class="form-text">CPAR Control Number:</label>
                        <input class="form-control" name="respondent" id="createCPARControlNumber" />
                    </div>

                    <div class="my-1">
                        <label for="createCPARRespondent" class="form-text">Respondent:</label>
                        <input class="form-control" name="respondent" id="createCPARRespondent" />
                    </div>
                    <div class="my-1">
                        <label for="createCPARRequestor" class="form-text">Requestor:</label>
                        <input class="form-control" name="requestor" id="createCPARRequestor" />
                    </div>

                    <div class="my-1">
                        <label for="createCPARResponseDueDate" class="form-text">Response Due Date:</label>
                        <input type="date" min="1993-12-1" class="form-control" name="responseDueDate" id="createCPARResponseDueDate"></input>
                    </div>

                    <div class="my-1">
                        <label for="createCPARISOClause" class="form-text">ISO Clause:</label>
                        <textarea class="form-control" name="isoClause" id="createCPARISOClause"></textarea>
                    </div>
                    <div class="my-1">
                        <label for="createCPARProblemStatement" class="form-text">Problem Statement:</label>
                        <textarea class="form-control" name="areaSection" id="createCPARProblemStatement"></textarea>
                    </div>
                    @* <div class="my-1">
                        <label for="createCPARPreparedBy" class="form-text">Prepared By:</label>
                        <input class="form-control" name="description" id="createCPARPreparedBy" />
                    </div> *@

                </form>           
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" id="createCPARSubmit" data-bs-dismiss="modal">Submit</button>
            </div>
        </div>
    </div>
</div>