<div class="card" id="createAuditPlan">
    <h6 class="card-header bg-primary text-light">Creating Audit Plan</h6>    
    <div class="card-body">

        <form id="auditPlanForm" autocomplete="off">
            <div class="row mb-3">
                <div class="col-12 mb-2">
                    <label for="createAuditPlanDate" class="form-label" >For Date:</label>
                    <input class="form-control text-center" id="createAuditPlanDate" readonly required/>
                </div>
                <div class="col-12 mb-2">
                    <label for="createAuditPlanDepartments" class="form-label">Department:</label>
                    <div>
                        <select class="form-select" id="createAuditPlanDepartments" name="department" required>
                            <option selected hidden value="">Select Department</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 mb-2">
                    <label for="createAuditPlanAuditCategory" class="form-label">Audit Category:</label>
                    <div>
                        <select class="form-select" name="auditCategory" id="createAuditPlanAuditCategory" required>
                            <option selected hidden value="">Select Audit Category</option>
                            <option>MPA</option>
                            <option>SA</option>
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <label for="createAuditPlanTimeStart" class="form-label">Time Start:</label>
                    <div>
                        <input type="time" class="form-control" name="timeStart" id="createAuditPlanTimeStart" required/>
                    </div>
                </div>
                <div class="col-6">
                    <label for="createAuditPlanTimeEnd" class="form-label">Time End:</label>
                    <div>
                        <input type="time" class="form-control" name="timeEnd" id="createAuditPlanTimeEnd" required/>
                    </div>
                </div>
            </div>
            @* <hr class="border border-2">
            <div class="row">
                <h6 class="form-text text-center">Root Cause Analysis</h6>
                <div class="col-12 mb-2">
                    <label class="form-label">Method:</label>
                    <input class="form-control text-center" id="createAuditPlanRCMethod" />
                </div>
                <div class="col-12 mb-2">
                    <label class="form-label">Machine:</label>
                    <input class="form-control text-center" id="createAuditPlanRCMachine" />
                </div>
                <div class="col-12 mb-2">
                    <label class="form-label">Material:</label>
                    <input class="form-control text-center" id="createAuditPlanRCMaterial" />
                </div>
                <div class="col-12 mb-2">
                    <label class="form-label">Man:</label>
                    <input class="form-control text-center" id="createAuditPlanRCMan" required/>
                </div>
                <div class="col-12 mb-2">
                    <label class="form-label">Environment:</label>
                    <input class="form-control text-center" id="createAuditPlanEnvironment" required/>
                </div> 
            </div> *@

            <button class="btn btn-primary" type="button" id="createAuditPlanSubmit">Submit</button>
        </form>           
    </div>
</div>