<div class="modal" id="createCorrection" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <p class="modal-title fw-bold text-white">Create Correction</p>
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="correctionForm">
                    <input class="form-control" name="description" id="createCorrectionCPARId" hidden readonly/>
                    <div class="my-1">
                        <p class="form-labee">Correction (Immediate Action):</p>
                        <input class="form-control" name="description" id="createCorrectionDescription" required />
                    </div>
                    <div class="my-1">
                        <p class="form-label">Escape Cause:</p>
                        <input class="form-control" name="escapeCause" id="createCorrectionEscapeCause" required />
                    </div>
                    <div class="my-1">
                        <p class="form-label">Action for Escape Cause:</p>
                        <input class="form-control" name="action" id="createCorrectionAction" required />
                    </div>
                </form>           
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" id="createCorrectionSubmit" data-bs-target="#readCPAR" data-bs-toggle="modal">Submit</button>
            </div>
        </div>
    </div>
</div>
