<div class="loading">
    <div class="vstack divcenter text-center">
        <img src=@Model.loader style="width:120px" />
        <span class="fs-6 text-white mt-2">Please wait</span>
    </div>
</div>