<div class="modal" data-bs-backdrop='static' id="readCPAR" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h6 class="modal-title text-light">Viewing Corrective & Preventive Action Report</h6>    
                <div class="ml-auto">
                    <button type="button" class="btn btn-primary fa-solid fa-pen-to-square" id="readCPAREdit">
                        @* <i class="fa-solid fa-pen-to-square"></i> *@
                    </button>
                    <button type="button" class="btn btn-primary fa-solid fa-x" id="readCPARClose" data-bs-dismiss="modal">
                        @* <i class="fa-solid fa-xmark"></i> *@
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <input type="text" id="readCPARId" hidden readonly/>
                <div class="form-group" id="readCPARInitial">
                    <div class="row">
                        <div class="col-4">
                            <div >
                                <div class="form-text">Issued To</div>
                                <input class="form-control" type="text" id="readCPARInitialIssuedTo" readonly />
                            </div>
                            <div>
                                <div class="form-text">Issued By</div>
                                <input class="form-control" type="text" id="readCPARInitialIssuedBy" readonly />
                            </div>
                        </div>

                        <div class="col-4">
                            <div >
                                <div class="form-text">Issue Date</div>
                                <input class="form-control" type="text" id="readCPARInitialIssueDate" readonly />
                            </div>
                            <div >
                                <div class="form-text">Audit Date</div>
                                <input class="form-control" type="text" id="readCPARInitialAuditDate" readonly />
                            </div>
                        </div>

                        <div class="col-4">
                            <div >
                                <div class="form-text">Response Due Date</div>
                                <input class="form-control" type="text" id="readCPARInitialResponseDate" readonly />
                            </div>
                            <div >
                                <div class="form-text">CAR Control No.</div>
                                <input class="form-control" type="text" id="readCPARInitialCARControlNo" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="form-text text-center">Requirement: ISO 9001:2015 CLAUSE</div>
                            <textarea type="text" class="form-control" id="readCPARInitialISOClause" readonly></textarea>
                        </div>
                        <div class="col-12">
                            <div class="form-text text-center">Problem Statement</div>
                            <textarea type="text" class="form-control" id="readCPARInitialProblemStatement" readonly></textarea>
                        </div>
                    </div>
                </div>

            <hr class="border border-2">

            <div id="readCPARRespondent">
                <div class="row">
                    <div id="readCPARCorrectionsTable">
                        @* <partial name="Partials/_CorrectionsTable"></partial> *@
                    </div>
                    <button id="createCorrectionButton" class="form-control fa-solid fa-plus" data-bs-target="#createCorrection" data-bs-toggle="modal" />
                </div>

                <hr class="border border-2">

                <fieldset id="readCPARRC">
                    @* <legend class="text-center form-text">Root Cause Analysis</legend> *@
                    <h6 class="form-text text-center">Root Cause Analysis</h6>
                    <div class="row" id="readCPARRootCause">
                        <div class="form-group respondent">
                            <div class="form-text">Method</div>
                            <input class="form-control" type="text" id="readCPARRCMethod" readonly />
                            <div class="form-text">Machine</div>
                            <input class="form-control" type="text" id="readCPARRCMachine" readonly />
                            <div class="form-text">Material</div>
                            <input class="form-control" type="text" id="readCPARRCMaterial" readonly />
                            <div class="form-text">Man</div>
                            <input class="form-control" type="text" id="readCPARRCMan" readonly />
                            <div class="form-text">Environment</div>
                            <input class="form-control" type="text" id="readCPARRCEnvironment" readonly />
                        </div>
                    </div>
                </fieldset>

                <hr class="border border-2">

                <div class="row">
                    <div id="readCPARCorrectiveActionsTable">
                        @* <partial name="Partials/_CorrectiveActionsTable"></partial> *@
                    </div>
                    <button id="createCorrectiveActionButton" class="form-control fa-solid fa-plus" data-bs-target="#createCorrectiveAction" data-bs-toggle="modal" />
                </div> 

                <hr class="border border-2">

                <div class="row">
                    <div id="readCPARPreventiveActionsTable">
                        @* <partial name="Partials/_PreventiveActionsTable"></partial> *@
                    </div>
                    <button id="createPreventiveActionButton" class="form-control col-3 fa-solid fa-plus" data-bs-target="#createPreventiveAction" data-bs-toggle="modal" />
                </div>
            </div>

            <hr class="border border-2">

            <div class="form-group row respondent">
                <div class="col-4">
                    <div class="form-text">Prepared By</div>
                    <input class="form-control" type="text" id="readCPARFooterPreparedBy" readonly />
                </div>
                <div class="col-4">
                    <div class="form-text">Checked By</div>
                    <input class="form-control" type="text" id="readCPARFooterCheckedBy" readonly />
                </div>
                <div class="col-4">
                    <div class="form-text">Approved By</div>
                    <input class="form-control" type="text" id="readCPARFooterApprovedBy" readonly />
                </div>
            </div>

            </div>
            <div class="modal-footer" hidden>
                <button class="btn btn-primary" type="button" id="createConformitySubmit" data-bs-dismiss="modal">Submit</button>
            </div>
        </div>
    </div>
</div>

