<div class="row">               
    <div class="col">
        <div class="card">
            <div class="cardcontent">
                <div class="card-header text-white bg-primary fw-bold">
                    Complete and Not Complete
                </div>
                <div class="card-body">
                    <canvas id="completeAndNotYetCompleted"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header text-white bg-primary fw-bold">
                Close Open
            </div>
            <div class="card-body">
                <canvas id="openAndClose"></canvas>
            </div>
        </div>
    </div>
    <div class="w-100"></div>
    <div class="col">
        <div class="card mx-auto">
            <div class="card-header text-white bg-primary fw-bold">
                Responded and Not Responded
            </div>
            <div class="card-body">
                <canvas class="barChart" id="responseChart" width="100" height="23"></canvas>
            </div>
        </div>
    </div>
</div>