@page
@model ATSSFG.Pages.Users.UsersAccountsModel
@{
    string Admin = HttpContext?.Session.GetString("Admin") ?? "";
    bool isAdmin = Admin.Equals("True", StringComparison.OrdinalIgnoreCase);
}
@if(isAdmin){
    <div class="card container">
        <div class="border-3 border-bottom border-dark">
            <h4 class="fw-bold">Users Account</h4>
        </div>
       
        <div class="table-responsive my-2">
            <div class="d-flex justify-content-end me-2">
                <button type="button" class="btn btn-sm bg-main3" data-bs-toggle="modal" data-bs-target="#addUserModal"><i class="fa-solid fa-plus"></i> Add User</button>
            </div>
            <table class="table table-hover table-sm table-striped display" id="userTbl" style="width: 100%">
                <thead class="fw-bold table-secondary">
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Department</th>
                        <th>Encoder</th>
                        <th>Processor</th>
                        <th>Viewer</th>
                        <th>Admin</th>
                        <th>Status</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    @Html.AntiForgeryToken()

    // Add Modal
    <div class="modal fade" id="addUserModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-main3">
                    <h5 class="modal-title text-white" id="addUserModalLabel">Add User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="alert alert-warning d-flex align-items-center mx-2 my-1 d-none" role="alert" id="alert">
                    <i class="fas fa-exclamation-triangle me-2"></i>
                    <span id="alert-text"></span>
                </div>
                <div class="modal-body">
                    <form id="addUserForm">
                        <div class="row g-2">
                            <div class="col-sm-6 mb-3">
                                <label for="addNameField" class="form-label">Name</label>
                                <input type="text" class="form-control" id="addNameField" required>
                            </div>
                            <div class="col-sm-6 mb-3">
                                <label for="addEmailField" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="addEmailField" required>
                            </div>
                            <div class="col-sm-2 mb-3">
                                Roles
                            </div>
                            <div class="col-sm-2 mb-3">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="addEncoder">
                                    <label class="form-check-label" for="addEncoder">Encoder</label>
                                </div>
                            </div>
                            <div class="col-sm-2 mb-3">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="addProcessor">
                                    <label class="form-check-label" for="addProcessor">Processor</label>
                                </div>
                            </div>
                            <div class="col-sm-2 mb-3">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="addViewer">
                                    <label class="form-check-label" for="addViewer">Viewer</label>
                                </div>
                            </div>
                            <div class="col-sm-2 mb-3">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="addAdmin">
                                    <label class="form-check-label" for="addAdmin">Admin</label>
                                </div>
                            </div>
                            <div class="col-sm-2 mb-3">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="addIsActive">
                                    <label class="form-check-label" for="addIsActive">IsActive</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="addDeptField" class="form-label">Department</label>
                                <select id="addDeptField" class="form-select" required>
                                    <option selected disabled>Choose Department</option>
                                    <option value="Business Control">Business Control</option>
                                    <option value="Purchasing">Purchasing</option>
                                    <option value="Sourcing">Sourcing</option>
                                    <option value="Cost Engineering">Cost Engineering</option>
                                </select>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit" id="addBtn" name="submit" class="btn bg-main3">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    // Edit Modal
     <div class="modal fade" id="editUserModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-main3">
                    <h5 class="modal-title text-white" id="editUserModalLabel"><i class="fa-solid fa-user-pen"></i> Edit User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="editUserForm">
                        <div class="row g-2">
                            <div class="col-sm-6 mb-3">
                                <label for="editNameField" class="form-label">Name</label>
                                <input type="text" class="form-control" id="editNameField">
                            </div>
                            <div class="col-sm-6 mb-3">
                                <label for="editEmailField" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="editEmailField">
                            </div>
                            <div class="col-sm-2 mb-3">
                                Roles
                            </div>
                            <div class="col-sm-2 mb-3">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="editEncoder">
                                    <label class="form-check-label" for="editEncoder">Encoder</label>
                                </div>
                            </div>
                            <div class="col-sm-2 mb-3">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="editProcessor">
                                    <label class="form-check-label" for="editProcessor">Processor</label>
                                </div>
                            </div>
                            <div class="col-sm-2 mb-3">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="editViewer">
                                    <label class="form-check-label" for="editViewer">Viewer</label>
                                </div>
                            </div>
                            <div class="col-sm-2 mb-3">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="editAdmin">
                                    <label class="form-check-label" for="editAdmin">Admin</label>
                                </div>
                            </div>
                            <div class="col-sm-2 mb-3">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="editIsActive">
                                    <label class="form-check-label" for="editIsActive">IsActive</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="editDeptField" class="form-label">Department</label>
                                <select id="editDeptField" class="form-select">
                                    <option selected disabled>Choose Department</option>
                                    <option value="Business Control">Business Control</option>
                                    <option value="Purchasing">Purchasing</option>
                                    <option value="Sourcing">Sourcing</option>
                                    <option value="Cost Engineering">Cost Engineering</option>
                                </select>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit" id="updateBtn" name="submit" class="btn bg-main3">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
     </div>

    @section Scripts {
        <script src="~/JavaScript/Users.js"></script>
    }
}else {
    <div>
        <h1 class="text-center">Unauthorized Access</h1>
    </div>
}
