@page
@model COMLaptopPass.Pages.Account.LoginModel
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<div>


    <form method="post" asp-page-handler="Login">
        <input type="password" asp-for=param.password />
        <input type="submit" value="Login" class="btn btn-secondary" />
    </form>

    <form method="post" asp-page-handler="RoleList">
        <input hidden asp-for=param.password />
        <select multiple onchange="this.form.submit();" asp-for="param.bucode" asp-items=Model.buList></select>
    </form>

    <form method="post" asp-page-handler="">
        <input hidden asp-for=param.password />
        <input hidden asp-for=param.bucode />
        <select multiple asp-items=Model.roleList></select>
    </form>

</div>
