@model PIMES_DMS.Models.IssueModel

@{
    ViewData["Title"] = "Edit Issue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>Edit Issue</h1>

    <hr />
    <div class="row">
        <div class="col-12 col-md-12">
            <form asp-controller="Issue" asp-action="EditIssue" enctype="multipart/form-data" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IssueID" name="ID" />
                <div class="form-group w-50">
                    <label asp-for="IssueNo" class="control-label"></label>
                    <input asp-for="IssueNo" class="form-control" name="issueno" />
                    <span asp-validation-for="IssueNo" class="text-danger"></span>
                </div>
                <div class="form-group w-50">
                    <label asp-for="Report" class="control-label"></label>
                    <input asp-for="Report" class="form-control" name="doc" type="file" accept=".pdf" />
                    <span asp-validation-for="Report" class="text-danger"></span>
                </div>
                <div class="form-group w-50">
                    <label asp-for="SerialNo" class="control-label"></label>
                    <input asp-for="SerialNo" class="form-control" name="serial" />
                    <span asp-validation-for="SerialNo" class="text-danger"></span>
                </div>
                <div class="form-group w-50">
                    <label asp-for="AffectedPN" class="control-label"></label>
                    <input asp-for="AffectedPN" class="form-control" name="affected" />
                    <span asp-validation-for="AffectedPN" class="text-danger"></span>
                </div>
                <div class="form-group w-50">
                    <label asp-for="Qty" class="control-label"></label>
                    <input asp-for="Qty" class="form-control" name="qty" />
                    <span asp-validation-for="Qty" class="text-danger"></span>
                </div>
                <div class="form-group w-50">
                    <label asp-for="Desc" class="control-label"></label>
                    <input asp-for="Desc" class="form-control" name="desc" />
                    <span asp-validation-for="Desc" class="text-danger"></span>
                </div>
                <div class="form-group w-50">
                    <label asp-for="ProbDesc" class="control-label"></label>
                    <input asp-for="ProbDesc" class="form-control" name="probdesc" />
                    <span asp-validation-for="ProbDesc" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

</div>

